.wrapper{
    width: 100%;
    height: 100vh;
    background-image: url(/img/mahasiswa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
}

.ui.massive.menu {
    background: #2185d0;
    color: white;
}

.home-link {
    color: white !important; 
    text-decoration: none; 
}

.home-link:hover {
    color: lightgray;
}

.header {
    margin-top: 15px; 
}